<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GestiBank</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/client" href="#"><i class="fa fa-list"></i> Liste des clients</a></li>
      <li><a routerLink="/client/create" href="#"><i class="fa fa-user-plus"></i> Ajout d'un client</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
